/* === PEDIATRICS STYLE SHEET ===*/

/* === NAVIGATON CARET COLOR ===*/
.journal-header .journal-header_content .navbar-menu_wrap .mobile-site-menu-toggle {
    color: #628f88 !important;
}

/* === HEADER LINE COLOR ===*/
.journal-header {
	border-color: #628f88 !important;
}
/* === WIDGET BACKGROUND ===*/
.widget-SelectableContentList {
    border: 1px solid #d6e0e6 !important;
	box-shadow: 0 3px 6px 0 rgb(67 56 56 / 30%) !important;
}

/* === FOOTER SIZING ===*/
.widget-SitePageFooter .journal-footer .journal-footer_content .journal-footer-affiliations a img {
    height: 100% !important;
    max-height: 75px !important;
}

/* === BLOG WIDGET STYLING ===*/
.widget-SelectableContentList .widget-dynamic-content.advanced-view .widget-dynamic-entry-wrap .widget-dynamic-entry a:link {
    font-color: #30323 !important;
    text-decoration: none !important;
    font-weight: 400 !important;
	font-size: 1rem !important;
}
/* Allow lines to wrap in tables */

.table-wrap td

{ white-space: initial; }

/* Carousel Mobile-view */

@media (max-width: 599px) {
.pg_index div.carousel {
    display: none;
}

}/* === slider text ===*/
.pg_Index .slide-content {
    float: right;
    padding: 10px;
}

/*Twitter Style*/
.pg_index  .widget-SelfServeContent {
    border: 1px solid #d6e0e6 !important;
	box-shadow: 0 3px 6px 0 rgb(67 56 56 / 30%) !important;
}